body
{
    background: #eaeaea;
}

.row {
    margin: 10px;
    padding: 10px;
}

.button-column, .column-header
{
    text-align: center;
    padding: 10px 0 10px 0;
}

.header-row a
{
    margin: auto;
    color: black;
}

.input-row
{
    padding: 0 30px 0 30px;
}

.button-column
{
    padding: 60px 0 20px 0;
}

.container
{
    background: white;
}

.entry {
    margin: 2px;
    padding: 5px;
    background: white;
}

.chooser-column
{
    background: #eaeaea;
    padding: 10px;
}
